In [1]:
import pulp

In [2]:
# Initialize model class
model = pulp.LpProblem("Cost Minimization problem", pulp.LpMinimize)

In [3]:
# Define production variables
prod_IRN = pulp.LpVariable('prod_IRN', lowBound=0, cat='Continuous') # production of Crude oil in Iran
prod_BRN = pulp.LpVariable('prod_BRN', lowBound=0, cat='Continuous') # production of Crude oil in Brunei

# Define refinery variables

# In Australia
ref_AUS_BL = pulp.LpVariable('ref_AUS_BL', lowBound=0, cat='Continuous') # refinery in Australia of Crude oil from Brunei, Low intensity
ref_AUS_BH = pulp.LpVariable('ref_AUS_BH', lowBound=0, cat='Continuous') # refinery in Australia of Crude oil from Brunei, High intensity
ref_AUS_IL = pulp.LpVariable('ref_AUS_IL', lowBound=0, cat='Continuous') # refinery in Australia of Crude oil from Iran, Low intensity
ref_AUS_IH = pulp.LpVariable('ref_AUS_IH', lowBound=0, cat='Continuous') # refinery in Australia of Crude oil from Iran, High intensity

# In Japan
ref_JPN_BL = pulp.LpVariable('ref_JPN_BL', lowBound=0, cat='Continuous') # refinery in Japan of Crude oil from Brunei, Low intensity
ref_JPN_BH = pulp.LpVariable('ref_JPN_BH', lowBound=0, cat='Continuous') # refinery in Japan of Crude oil from Brunei, High intensity
ref_JPN_IL = pulp.LpVariable('ref_JPN_IL', lowBound=0, cat='Continuous') # refinery in Japan of Crude oil from Iran, Low intensity
ref_JPN_IH = pulp.LpVariable('ref_JPN_IH', lowBound=0, cat='Continuous') # refinery in Japan of Crude oil from Iran, High intensity

# Define shipment variables

# shipments of Crude oil
ship_C_IRN_AUS = pulp.LpVariable('ship_C_IRN_AUS', lowBound=0, cat='Continuous') # shipment of Crude oil from Iran to Australia
ship_C_BRN_AUS = pulp.LpVariable('ship_C_BRN_AUS', lowBound=0, cat='Continuous') # shipment of Crude oil from Brunei to Australia
ship_C_IRN_JPN = pulp.LpVariable('ship_C_IRN_JPN', lowBound=0, cat='Continuous') # shipment of Crude oil from Iran to Japan
ship_C_BRN_JPN = pulp.LpVariable('ship_C_BRN_JPN', lowBound=0, cat='Continuous') # shipment of Crude oil from Brunei to Japan

# shipments of Gasoline
ship_G_AUS_PHL = pulp.LpVariable('ship_G_AUS_PHL', lowBound=0, cat='Continuous') # shipment of Gasoline from Australia to the Philippines
ship_G_AUS_NZL = pulp.LpVariable('ship_G_AUS_NZL', lowBound=0, cat='Continuous') # shipment of Gasoline from Australia to New Zealand
ship_G_JPN_PHL = pulp.LpVariable('ship_G_JPN_PHL', lowBound=0, cat='Continuous') # shipment of Gasoline from Japan to the Philippines
ship_G_JPN_NZL = pulp.LpVariable('ship_G_JPN_NZL', lowBound=0, cat='Continuous') # shipment of Gasoline from Japan to New Zealand

# shipments of Distillate
ship_D_AUS_PHL = pulp.LpVariable('ship_D_AUS_PHL', lowBound=0, cat='Continuous') # shipment of Distillate from Australia to the Philippines
ship_D_AUS_NZL = pulp.LpVariable('ship_D_AUS_NZL', lowBound=0, cat='Continuous') # shipment of Distillate from Australia to New Zealand
ship_D_JPN_PHL = pulp.LpVariable('ship_D_JPN_PHL', lowBound=0, cat='Continuous') # shipment of Distillate from Japan to the Philippines
ship_D_JPN_NZL = pulp.LpVariable('ship_D_JPN_NZL', lowBound=0, cat='Continuous') # shipment of Distillate from Japan to New Zealand
ship_D_USA_PHL = pulp.LpVariable('ship_D_USA_PHL', lowBound=0, cat='Continuous') # shipment of Distillate from the USA to the Philippines
ship_D_USA_NZL = pulp.LpVariable('ship_D_USA_NZL', lowBound=0, cat='Continuous') # shipment of Distillate from the USA to New Zealand

# Define tankers variable
charter_tankers = pulp.LpVariable('charter_tankers', lowBound=0, cat='Integer')

In [4]:
# production costs
prod_costs = 18.5*prod_IRN + 20.5*prod_BRN

# refinery costs
ref_costs = 0.36*ref_AUS_BL + 0.84*ref_AUS_BH + 0.45*ref_AUS_IL + 0.90*ref_AUS_IH + \
            0.48*ref_JPN_BL + 1.02*ref_JPN_BH + 0.60*ref_JPN_IL + 1.17*ref_JPN_IH

# shipment costs
ship_costs = 0.78*ship_C_BRN_AUS + 1.86*ship_C_IRN_AUS + 0.72*ship_C_BRN_JPN + 1.77*ship_C_IRN_JPN + \
             0.45*ship_G_AUS_PHL + 0.30*ship_G_AUS_NZL + 0.60*ship_G_JPN_PHL + 0.30*ship_G_JPN_NZL + \
             0.45*ship_D_AUS_PHL + 0.30*ship_D_AUS_NZL + 0.60*ship_D_JPN_PHL + 0.30*ship_D_JPN_NZL + \
             1.65*ship_D_USA_PHL + 2.10*ship_D_USA_NZL + 19.80*ship_D_USA_PHL + 19.80*ship_D_USA_NZL

# charter costs
charter_costs = 8600*charter_tankers

In [5]:
# Objective function
model += prod_costs + ref_costs + ship_costs + charter_costs, "Sum of all operational costs"

In [6]:
# production constraints

model += prod_IRN <= 60000
model += prod_BRN == 40000

In [7]:
# refinery constraints

model += ref_AUS_BL + ref_AUS_BH + ref_AUS_IL + ref_AUS_IH <= 50000
model += ref_JPN_BL + ref_JPN_BH + ref_JPN_IL + ref_JPN_IH <= 30000

In [8]:
# shipment constraints

model += prod_IRN == ship_C_IRN_AUS + ship_C_IRN_JPN
model += prod_BRN == ship_C_BRN_AUS + ship_C_BRN_JPN

model += 0.259*ref_AUS_BL + 0.365*ref_AUS_BH + 0.186*ref_AUS_IL + 0.312*ref_AUS_IH == 9000 + ship_G_AUS_PHL + ship_G_AUS_NZL
model += 0.688*ref_AUS_BL + 0.573*ref_AUS_BH + 0.732*ref_AUS_IL + 0.608*ref_AUS_IH == 21000 + ship_D_AUS_PHL + ship_D_AUS_NZL

model += 0.259*ref_JPN_BL + 0.350*ref_JPN_BH + 0.186*ref_JPN_IL + 0.300*ref_JPN_IH == 3000 + ship_G_JPN_PHL + ship_G_JPN_NZL
model += 0.688*ref_JPN_BL + 0.588*ref_JPN_BH + 0.732*ref_JPN_IL + 0.620*ref_JPN_IH == 12000 + ship_D_JPN_PHL + ship_D_JPN_NZL

model += ship_D_USA_PHL + ship_D_USA_NZL <= 12000

model += ship_G_AUS_PHL + ship_G_JPN_PHL >= 5000
model += ship_G_AUS_NZL + ship_G_JPN_NZL >= 5400
model += ship_D_AUS_PHL + ship_D_JPN_PHL + ship_D_USA_PHL >= 8000
model += ship_D_AUS_NZL + ship_D_JPN_NZL + ship_D_USA_NZL >= 8700

model += ref_AUS_BL + ref_AUS_BH == ship_C_BRN_AUS
model += ref_AUS_IL + ref_AUS_IH == ship_C_IRN_AUS
model += ref_JPN_BL + ref_JPN_BH == ship_C_BRN_JPN
model += ref_JPN_IL + ref_JPN_IH == ship_C_IRN_JPN

In [9]:
# tanker constraints
model += 0.12*ship_C_IRN_AUS + 0.11*ship_C_IRN_JPN + 0.05*ship_C_BRN_AUS + 0.045*ship_C_BRN_JPN + \
         0.02*ship_G_AUS_PHL + 0.02*ship_D_AUS_PHL + \
         0.01*ship_G_JPN_PHL + 0.01*ship_D_JPN_PHL + \
         0.01*ship_G_AUS_NZL + 0.01*ship_D_AUS_NZL + \
         0.06*ship_G_JPN_NZL + 0.06*ship_D_JPN_NZL + \
         0.15*ship_D_USA_PHL + \
         0.18*ship_D_USA_NZL == 6900 + 1000*charter_tankers

In [10]:
# Solve our problem
model.solve()
pulp.LpStatus[model.status]

'Optimal'

In [11]:
import pandas as pd

In [12]:
prod_dv = pd.DataFrame([['Iran', prod_IRN.varValue], 
                        ['Brunei', prod_BRN.varValue]], 
                        columns = ['Source', 'Supply volume, bbl']).set_index('Source').round().astype(int)
prod_dv

        Supply volume, bbl
Source
Iran                 32718
Brunei               40000

In [13]:
ref_AUS = pd.DataFrame([['Brunei', 'High', ref_AUS_BH.varValue],
                        ['Brunei', 'Low', ref_AUS_BL.varValue], 
                        ['Iran', 'High', ref_AUS_IH.varValue],
                        ['Iran', 'Low', ref_AUS_IL.varValue]], 
                        columns = ['Location', 'Intensity', 'Refinery volume in Australia, bbl']).set_index(['Location', 'Intensity']).round().astype(int)
ref_AUS

                    Refinery volume in Australia, bbl
Location Intensity
Brunei   High                                   17282
         Low                                        0
Iran     High                                   32718
         Low                                        0

In [14]:
ref_JPN = pd.DataFrame([['Brunei', 'High', ref_JPN_BH.varValue],
                        ['Brunei', 'Low', ref_JPN_BL.varValue], 
                        ['Iran', 'High', ref_JPN_IH.varValue],
                        ['Iran', 'Low', ref_JPN_IL.varValue]], 
                        columns = ['Location', 'Intensity', 'Refinery volume in Japan, bbl']).set_index(['Location', 'Intensity']).round().astype(int)
ref_JPN

                    Refinery volume in Japan, bbl
Location Intensity
Brunei   High                                   0
         Low                                22718
Iran     High                                   0
         Low                                    0

In [15]:
ship_C = pd.DataFrame([['Brunei', ship_C_BRN_AUS.varValue, ship_C_BRN_JPN.varValue],
                       ['Iran', ship_C_IRN_AUS.varValue, ship_C_IRN_JPN.varValue]],
                       columns = ['from/to', 'Australia', 'Japan']).set_index('from/to').round().astype(int)
ship_C

         Australia  Japan
from/to
Brunei       17282  22718
Iran         32718      0

In [16]:
ship_D = pd.DataFrame([['Australia', ship_D_AUS_NZL.varValue, ship_D_AUS_PHL.varValue],
                       ['Japan', ship_D_JPN_NZL.varValue, ship_D_JPN_PHL.varValue],
                       ['USA', ship_D_USA_NZL.varValue, ship_D_USA_PHL.varValue]],
                       columns = ['from/to', 'New Zealand', 'Philippines']).set_index('from/to').round().astype(int)
print('Shipments of distillate')
ship_D

Shipments of distillate

           New Zealand  Philippines
from/to
Australia         8320          475
Japan              380         3251
USA                  0         4275

In [17]:
ship_G = pd.DataFrame([['Australia', ship_G_AUS_NZL.varValue, ship_G_AUS_PHL.varValue],
                       ['Japan', ship_G_JPN_NZL.varValue, ship_G_JPN_PHL.varValue]],
                       columns = ['from/to', 'New Zealand', 'Philippines']).set_index('from/to').round().astype(int)
print('Shipments of gasoline')
ship_G

Shipments of gasoline

           New Zealand  Philippines
from/to
Australia         2516         5000
Japan             2884            0

In [18]:
# Print our objective function value
print('Total costs are $%.0f' % pulp.value(model.objective))

Total costs are $1671186

In [19]:
used_capacity = 0.12*ship_C_IRN_AUS.varValue + 0.11*ship_C_IRN_JPN.varValue + 0.05*ship_C_BRN_AUS.varValue + 0.045*ship_C_BRN_JPN.varValue + \
                0.02*ship_G_AUS_PHL.varValue + 0.02*ship_D_AUS_PHL.varValue + \
                0.01*ship_G_JPN_PHL.varValue + 0.01*ship_D_JPN_PHL.varValue + \
                0.01*ship_G_AUS_NZL.varValue + 0.01*ship_D_AUS_NZL.varValue + \
                0.06*ship_G_JPN_NZL.varValue + 0.06*ship_D_JPN_NZL.varValue + \
                0.15*ship_D_USA_PHL.varValue + \
                0.18*ship_D_USA_NZL.varValue

print('We use %.0f bbl capacity of our own fleet' % used_capacity)
print('We use %.0f charter tankers' % charter_tankers.varValue)

We use 6900 bbl capacity of our own fleet
We use 0 charter tankers

In [20]:
model

Cost Minimization problem:
MINIMIZE
8600*charter_tankers + 20.5*prod_BRN + 18.5*prod_IRN + 0.84*ref_AUS_BH + 0.36*ref_AUS_BL + 0.9*ref_AUS_IH + 0.45*ref_AUS_IL + 1.02*ref_JPN_BH + 0.48*ref_JPN_BL + 1.17*ref_JPN_IH + 0.6*ref_JPN_IL + 0.78*ship_C_BRN_AUS + 0.72*ship_C_BRN_JPN + 1.86*ship_C_IRN_AUS + 1.77*ship_C_IRN_JPN + 0.3*ship_D_AUS_NZL + 0.45*ship_D_AUS_PHL + 0.3*ship_D_JPN_NZL + 0.6*ship_D_JPN_PHL + 21.900000000000002*ship_D_USA_NZL + 21.45*ship_D_USA_PHL + 0.3*ship_G_AUS_NZL + 0.45*ship_G_AUS_PHL + 0.3*ship_G_JPN_NZL + 0.6*ship_G_JPN_PHL + 0.0
SUBJECT TO
_C1: prod_IRN <= 60000

_C2: prod_BRN = 40000

_C3: ref_AUS_BH + ref_AUS_BL + ref_AUS_IH + ref_AUS_IL <= 50000

_C4: ref_JPN_BH + ref_JPN_BL + ref_JPN_IH + ref_JPN_IL <= 30000

_C5: prod_IRN - ship_C_IRN_AUS - ship_C_IRN_JPN = 0

_C6: prod_BRN - ship_C_BRN_AUS - ship_C_BRN_JPN = 0

_C7: 0.365 ref_AUS_BH + 0.259 ref_AUS_BL + 0.312 ref_AUS_IH + 0.186 ref_AUS_IL
 - ship_G_AUS_NZL - ship_G_AUS_PHL = 9000

_C8: 0.573 ref_AUS_BH + 0.688 ref_AUS_BL + 0.608 ref_AUS_IH + 0.732 ref_AUS_IL
 - ship_D_AUS_NZL - ship_D_AUS_PHL = 21000

_C9: 0.35 ref_JPN_BH + 0.259 ref_JPN_BL + 0.3 ref_JPN_IH + 0.186 ref_JPN_IL
 - ship_G_JPN_NZL - ship_G_JPN_PHL = 3000

_C10: 0.588 ref_JPN_BH + 0.688 ref_JPN_BL + 0.62 ref_JPN_IH + 0.732 ref_JPN_IL
 - ship_D_JPN_NZL - ship_D_JPN_PHL = 12000

_C11: ship_D_USA_NZL + ship_D_USA_PHL <= 12000

_C12: ship_G_AUS_PHL + ship_G_JPN_PHL >= 5000

_C13: ship_G_AUS_NZL + ship_G_JPN_NZL >= 5400

_C14: ship_D_AUS_PHL + ship_D_JPN_PHL + ship_D_USA_PHL >= 8000

_C15: ship_D_AUS_NZL + ship_D_JPN_NZL + ship_D_USA_NZL >= 8700

_C16: ref_AUS_BH + ref_AUS_BL - ship_C_BRN_AUS = 0

_C17: ref_AUS_IH + ref_AUS_IL - ship_C_IRN_AUS = 0

_C18: ref_JPN_BH + ref_JPN_BL - ship_C_BRN_JPN = 0

_C19: ref_JPN_IH + ref_JPN_IL - ship_C_IRN_JPN = 0

_C20: - 1000 charter_tankers + 0.05 ship_C_BRN_AUS + 0.045 ship_C_BRN_JPN
 + 0.12 ship_C_IRN_AUS + 0.11 ship_C_IRN_JPN + 0.01 ship_D_AUS_NZL
 + 0.02 ship_D_AUS_PHL + 0.06 ship_D_JPN_NZL + 0.01 ship_D_JPN_PHL
 + 0.18 ship_D_USA_NZL + 0.15 ship_D_USA_PHL + 0.01 ship_G_AUS_NZL
 + 0.02 ship_G_AUS_PHL + 0.06 ship_G_JPN_NZL + 0.01 ship_G_JPN_PHL = 6900

VARIABLES
0 <= charter_tankers Integer
prod_BRN Continuous
prod_IRN Continuous
ref_AUS_BH Continuous
ref_AUS_BL Continuous
ref_AUS_IH Continuous
ref_AUS_IL Continuous
ref_JPN_BH Continuous
ref_JPN_BL Continuous
ref_JPN_IH Continuous
ref_JPN_IL Continuous
ship_C_BRN_AUS Continuous
ship_C_BRN_JPN Continuous
ship_C_IRN_AUS Continuous
ship_C_IRN_JPN Continuous
ship_D_AUS_NZL Continuous
ship_D_AUS_PHL Continuous
ship_D_JPN_NZL Continuous
ship_D_JPN_PHL Continuous
ship_D_USA_NZL Continuous
ship_D_USA_PHL Continuous
ship_G_AUS_NZL Continuous
ship_G_AUS_PHL Continuous
ship_G_JPN_NZL Continuous
ship_G_JPN_PHL Continuous